$grid-cols: 12;
$grid-size: 1140px;

$navbar-height: 45px;

$primary-color: #333;
$secondary-color: #337ab7;
$tertiary-color: #555;
$line-color: #eee;
$button-color: #337ab7;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$error-color: #d9534f;
$star-color: #ffca28;

$header-font: 'Amatic SC', cursive;
$body-font: 'Roboto Condensed', sans-serif;

$small-margin: 5px;
$standard-margin: 10px;
$large-margin: 20px;
$star-margin: 2px;

$paragraph-font-size: 1.3em;
$paragraph-line-height: 1.6em;

$list-thumb-size: 75px;